@import 'tailwindcss';

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      sans-serif;
  }

  body {
    @apply bg-slate-50 text-slate-900 overflow-hidden;
  }
}
